.tw-followCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap:30px;
    
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.tw-followCard-img{
    width: 56px;
    height: 56px;
    border-radius: 1000px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-username{
    opacity: 0.6;
}

.tw-followCard-button{
    padding: 6px 16px;
    border-radius: 1000px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    transition: .3s ease background-color;
    min-width: 140px ;
    min-height: 30px;
}

.tw-followCard-button.is-following{
    background-color: transparent;
    border: 1px solid #bbb;
    color: white;
    width: 100px;
    text-align: center;
}



.tw-followCard-button.is-following:hover{
    background-color: rgb(169, 113, 113);
    border: 0.5px red solid;
    opacity: 1;
    transition: all .3s ease;
}


.tw-followCard-button.is-following:hover .tw-followCard-buttonText{
    display: block;
}

.tw-followCard-stopFollow{
    display: none;
    
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}

.tw-followCard-buttonText{
    display: block;
}

.tw-followCard-button.is-following:hover .tw-followCard-buttonText{
    display: none;
}

